
#todolist-main {
    
}

.de1 {
    cursor:pointer;
    text-align:center;
}

.de {
    cursor:pointer;
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('images/add.png');
    background-repeat: no-repeat;
}
