/*
 * Created by Andrey Markelov 13-02-2013.
 * Copyright Mail.Ru Group 2013. All rights reserved.
 */

#todolist-main {}

span.todo_done {
    color: silver;
    text-decoration: line-through;
}

span.todo_undone {
    color: black;
    text-decoration: none;
}

td.checkboxcolumn {
    text-align: center;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.todocheckbox {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.table.todotable {
    table-layout: fixed;
    border-collapse: collapse;
    background: #fff;
}

.highlight {
    background-color: #FFF8DC;
}

.normal {
    background-color: #FFFFFF;
}

.initial {
    background-color: #FFFFFF;
    color:#000000;
}

td.wrapcolumn {
    word-wrap: break-word;
    max-width:600px;
}

.todoaddbtn {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/add.png') no-repeat center center;
}

.todoeditbtn {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/note_edit.png') no-repeat center center;
}

.todoremovebtn {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    background: url('images/delete.png') no-repeat center center;
}

.jiraform {
    border: 1px solid #D2D2D2;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.jiraformbody {
    padding: 5px 5px 10px 5px;
}

.maxWidth {
    width: 99%;
}

.jiraformheader {
    background-color: #F0F0F0;
}

.grid {
    background-color: #FCFCFC;
    border-collapse: collapse;
    border: 1px solid #D2D2D2;
    margin-top: .5em;
    margin-bottom: .5em;
}

.grid th {
    background-color: rgb(226, 226, 226);
}

.grid th, .grid td {
    border: 1px solid #D2D2D2;
    padding: 4px;
    vertical-align: top;
}

.formtitle {
    color: rgb(60, 120, 181);
    font-size: 1.6em;
}
