<html>
    <head>
        <title>$action.getText("ru.mail.todolist.admin.link.field")</title>
        <meta name="decorator" content="admin"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:autocomplete")
        $webResourceManager.requireResource("ru.andreymarkelov.atlas.plugins.todos.todolist:todolist-resources")
    </head>
    <body class="aui">
        #if($action.hasAdminPermission())
            #if($action.getCurrentFieldData())
            <h3>$action.getText("ru.mail.todolist.admin.link.field")</h3>
            <form class="aui" onsubmit="if (this.submitted) return false; this.submitted = true; return true"
                    name="jiraform" method="post" action="ToDoListConfigAction.jspa">
                <input type="hidden" name="atl_token" value="$atl_token"/>
                <input type="hidden" name="currentField" value="$currentField"/>
                <table>
                    <tr>
                        <td><label for="currentFieldName"><strong>$i18n.getText("ru.mail.todolist.admin.cfname"):</strong></label></td>
                        <td><span id="currentFieldName" name="currentFieldName">$action.getCurrentFieldData().getName()</span></td>
                    </tr>
                    <tr>
                        <td><label for="nobody"><strong>$i18n.getText("ru.mail.todolist.admin.nobodyperm"):</strong></label></td>
                        <td><input type="checkbox" id="nobody" #if($nobody == "true")checked="checked"#end name="nobody" value="true"/></td>
                    </tr>
                    <tr>
                        <td><label for="reporter"><strong>$i18n.getText("ru.mail.todolist.admin.reporterperm"):</strong></label></td>
                        <td><input type="checkbox" id="reporter" #if($reporter == "true")checked="checked"#end name="reporter" value="true"/></td>
                    </tr>
                </table>
                <div class="buttons-container">
                    <div class="buttons">
                        <input class="button submit" type="submit" name="add" value="$action.getText("common.words.save")" accesskey="S" title="Press Alt+Shift+S to submit form"/>
                        <input class="button submit" id="cancelButton" type="button" accesskey="`" title="Cancel (Alt+Shift + `)" name="Cancel" value="$action.getText("common.words.cancel")" onclick="window.history.back();"/>
                    </div>
                </div>
            </form>
            #else
            <div class="errorArea">$i18n.getText("ru.mail.todolist.admin.cfid.error", $currentField)</div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" id="cancelButton" type="button" accesskey="`" title="Cancel (Alt+Shift + `)" name="Cancel" value="$action.getText("common.words.cancel")" onclick="window.history.back();"/>
                </div>
            </div>
            #end
        #else
        <div class="errorArea">$action.getText("ru.mail.todolist.admin.link.error")</div>
        #end
    </body>
</html>