#if($todofieldname && $todofieldname != "")
<p>$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.customfieldname"): $todofieldname</p>
<p>$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.customfieldid"): $todofieldparam</p>
#else
<p style="color:red"><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.customfield.empty")</strong></p>
#end