<html>
    <head>
        <title>$action.getText("ru.mail.todolist.admin.link")</title>
        <meta name="decorator" content="admin"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:autocomplete")
        $webResourceManager.requireResource("ru.mail.jira.plugins.todolist:todolist-resources")
    </head>
    <body class="aui">
        #if($action.hasAdminPermission())
        <input type="hidden" name="atl_token" id="atl_token" value="$action.getXsrfToken()"/>
        <table width="100%" class="todogrid">
            <thead>
                <tr>
                    <th width="15%" class="todogrid">$action.getText("ru.mail.todolist.admin.cfid")</th>
                    <th width="15%" class="todogrid">$action.getText("ru.mail.todolist.admin.cfname")</th>
                    <th width="50%" class="todogrid">$action.getText("ru.mail.todolist.admin.cfprops")</th>
                    <th width="20%" class="todogrid">$action.getText("ru.mail.todolist.admin.cfactions")</th>
                </tr>
            </thead>
            <tbody>
            #foreach($field in $action.getFields())
                <tr>
                    <td width="15%" class="todogrid">$field.getId()</td>
                    <td width="15%" class="todogrid">$field.getName()</td>
                    <td width="50%" class="todogrid">
                        #if($field.getData())
                        <div>$i18n.getText("ru.mail.todolist.admin.nobodyperm"): #if($field.getData().isNobody())&#x2611;#end</div>
                        <div>$i18n.getText("ru.mail.todolist.admin.reporterperm"): #if($field.getData().isReporter())&#x2611;#end</div>
                        #else
                        $action.getText("ru.mail.todolist.admin.nodataconf")
                        #end
                    </td>
                    <td width="20%" class="todogrid">
                        <a href="ToDoListConfigAction!configure.jspa?currentField=$field.getId()">$action.getText("ru.mail.todolist.admin.cfactionconf")</a>
                    </td>
                </tr>
            #end
            </tbody>
        </table>
        #else
        <div class="errorArea">$action.getText("ru.mail.todolist.admin.link.error")</div>
        #end
    </body>
</html>